<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Add a New Song</title>
</head>
  <body>
    <%- include('../partials/_navbar.ejs') %>
    <form action="/users/<%= user._id %>/playlists" method="POST">
      <label for="title">Song Title:</label>
      <input type="text" name="name" placeholder="Song Title" required>
      <label for="artist">Artist:</label>
      <input type="text" name="artist" id="artist" required>
      <label for="genre">Genre:</label>
      <input type="text" name="genre" id="genre" required>
      <label for="decade">Decade</label>
      <input type="text" name="decade" id="decade" required>
      <button type="submit">Add Song</button>
    </form>
  </body>
</html>