<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://fonts.googleapis.com/css2?family=Monoton&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/css/styles.css">
  <title>Community Page</title>
</head>
<body>
  <%- include('../partials/_navbar.ejs') %>
  <h1>Explore Our Community</h1>
  <ul>
    <% allUsers.forEach((user)=>{ %>
      <li><a href="/users/<%= user._id %>"><%= user.username %></a></li>
    <% }) %>
  </ul>
</body>
</html>