<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= pageOwner.username %>'s Playlist</title>
</head>
<body>
  <%- include('../partials/_navbar.ejs') %>
  <h1>Welcome to <%= pageOwner.username %>'s Mixtape</h1>
  <% if(pageOwner.playlist.length) { %>
  <p>Currently stocked with:</p>
  <ul>
    <% pageOwner.playlist.forEach((song)=>{ %>
      <li><%= song.name %></li>
    <% }) %>
  </ul>
  <% } else { %>
    <p>There are no songs on this playlist.</p>
  <% } %>
</body>
</html>